body {
  background-color: black;
  color: white;
  margin: 0;
}

main {
  justify-content: center;
  padding: 10px 0;
}

.main-content {
  align-items: center;
  padding: 0 10px;
  flex-grow: 1;
}

aside {
  padding: 0 10px;
}

.other {
  width: 100%;
  justify-content: space-around;
}

.other img {
  width: 300px;
}


.flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-col-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.actu {
  width: 300px;
  height: 30vh;
  margin: 12px 3px;
  padding: 3px 12px;
  border-bottom: 1px solid white;
}

.actu img {
  width: 80%;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.film-carousel-item {
  justify-content: center;
  align-items: center;
}

#myCarousel {
  max-width: max-content;
  align-self: center;
}

#nowayitem {
  width: 640px;
  height: 290px;
  background-color: cyan;
  text-align: center;
}

#nowayitem > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}