* {
	background-color:black;
	color: white;
	//* margin : 10px; **/
}

.carousel_film 
{
	display: flex;
	justify-content: center;
}

.description_film
{
	display: flex;
	flex-direction: column;
	width : 95%;
	border: 1px solid;
	margin: 0 auto;
}

.acteurs_film {
	display: flex;
	flex-wrap : wrap;
	justify-content: space-around;
	text-align: center;
	width : 95%;	
	border: 1px solid;
	margin: 0 auto;
}
acteurs h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}
acteurs a {
    margin-bottom: 0px;
    margin-top: 0px;
	text-decoration:none; 
}

acteurs {
    margin-bottom: 5px;
    margin-top: 5px;

}
acteurs:hover {
	opacity : 0.8; 
}

.style_etoile {
	color: yellow;
}
