* {
/*	background-color:black;
	color: white;*/
	font-family: 'Pathway Gothic One', sans-serif;
}

body {
	background-color:black;
	color: gold;
}

.width-95-percent
{
	width : 95%;
}

.carousel_film 
{
	display: flex;
	justify-content: center;
}

.description_film
{
	display: flex;
	flex-direction: column;
	border: 1px solid;
	margin: 0 auto;
	margin-top: 10px;
}
.description_film p
{
	margin: 1%;
}

.acteurs_film {
	display: flex;
	flex-wrap : wrap;
	justify-content: space-around;
	text-align: center;
	border: 1px solid;
	margin: 0 auto;
}
acteurs h3 {
    margin-bottom: 0px;
    margin-top: 0px;
	color: gold;
	font-size: 18px;
}

acteurs a {
	text-decoration:none;
}
acteurs a img {
	border-radius: 4px;
	width: 150px;
	height: 150px;
	border: 2px solid gold;
}

acteurs {
	border-bottom: 1px solid;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 2%;
    margin-right: 2%;

}
/*
acteurs:hover {
	opacity : 0.8; 
}*/

.style_star-wars {
	color: gold;
	/* text-shadow: 0px -1px 15px #ff9800, -2px 2px 10px #ff1100;*/
}
.style_star-wars:hover {
	color: gold;
		animation: intro 0.4s ease-out;
  animation-fill-mode: forwards;
}

