* {
	background-color:black;
	color: white;
	font-family: 'Pathway Gothic One', sans-serif;
}

.width-95-percent
{
	width : 95%;
}

.carousel_film 
{
	display: flex;
	justify-content: center;
}

.description_film
{
	display: flex;
	flex-direction: column;
	border: 1px solid;
	margin: 0 auto;
	margin-top: 10px;
}
.description_film p
{
	margin: 1%;
}

.acteurs_film {
	display: flex;
	flex-wrap : wrap;
	justify-content: space-around;
	text-align: center;
	border: 1px solid;
	margin: 0 auto;
}
acteurs h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}
acteurs a {
	text-decoration:none;
}

acteurs {
	border-bottom: 1px solid;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 2%;
    margin-right: 2%;

}
acteurs:hover {
	opacity : 0.8; 
}

.style_star-wars {
	color: gold;
}

