main {
  justify-content: center;
  padding: 0;
  color: #feda4a;
  font-family: "Pathway Gothic One", sans-serif;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#title {
  margin: 40px 0;
  height: 40px;
  object-fit: contain;
  align-self: flex-start;
}

.section-title {
  padding-bottom: 20px;
}

.flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-col-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.space-evenly {
  justify-content: space-evenly;
}

section {
  width: 100%;
}

.goodies-item {
  align-items: center;
  margin-bottom: 20px;
}

.goodies-item img {
  height: 200px;
  margin: 0 20px;
  border: 3px solid #feda4a;
}

.goodies-item:hover {
  transform: scale(1.1);
  transition-duration: 200ms;
}

.goodies-item a {
  text-decoration: underline;
  color: white;
}

.see-all {
  border: 3px solid #feda4a;
  background-color: black;
  align-items: center;
  width: 150px;
  height: 200px;
}

.see-all:hover {
  transform: scale(1.1);
  transition-duration: 200ms;
}

.see-all a {
  text-decoration: none;
  width: 100%;
  padding: 0 20px;
  color: #feda4a;
}

.see-all img {
  width: 32px;
}

@media all and (max-width: 400px) {
    #title {
        width: 80vw;
    }
}