.accordion-body {
    background-color: black;
}

.accordion-button {
    background-color: #000000;
    color: gold;
    font-size: larger;
}

.accordion-button:not(.collapsed) {
    color: gold;
    background-color: #000000;
}

.accordion-button:not(.collapsed)::after {
    --accordion-button-icon:gold;
}

.display-flex 
{
	display: flex;
	justify-content: flex-start;
}
.img-rencontres
{
    width: 150px;
    height: 150px;
}

.accordion-item {
    margin-bottom: -1px;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.125);
}
p {
    margin: 0 10px 10px;
}
/* spécification pour écran max 961*/
@media screen and (max-width:650px)
{ 
    .accordion-button {
        font-size: smaller;
    }
    .img-rencontres
    {
    display:none;
    }
}